<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/tempmasao/IdeaProjects/WebsiteAPI/src/test/java/com/curiosity/apis">
        <classes>
            <class name="com.curiosity.apis.CuriosityWebsiteTest">
                <methods>
                    <include name="testWebsite"/>
                    <include name="testWebsite2"/>
                </methods>
            </class>
            <class name="com.curiosity.apis.IkeaWebsiteTest">
                <methods>
                    <include name="testWebsite"/>
                </methods>
            </class>
            <class name="com.curiosity.apis.TestKakaoDummy">
                <methods>
                    <include name="testWebsite"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>